* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  /* padding: 0; */
  max-width: 1000px;
}

.main-container {
  margin: auto;
  /* max-width: 1000px; */
  display: grid;
  gap: 24px;
  width: 90%;

  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
    "title title ."
    "image-container image-container image-container"
    "content-container content-container icons-container"
    "content-container content-container ."
    "content-container content-container ."
    ". footer .";
}

.main-container .title {
  grid-area: title;
}
.main-container .image-container {
  grid-area: image-container;
}

.main-container .icons-container {
  grid-area: icons-container;
}

.main-container .content-container {
  grid-area: content-container;
}

.footer {
  grid-area: footer;
}

.title h1 {
  font-size: 2.8rem;
  font-family: playfair;
}

.text-description {
  display: grid;
  grid-template-areas: auto auto auto auto;
  grid-template-areas: "icon paragraph paragraph paragraph";
  width: 80%;
  font-style: italic;
}

.icon {
  display: inline-block;
  margin-top: 20px;
  color: rgb(196, 195, 195);
}

.image-container img {
  width: 100%;
}

.icons-container {
  box-shadow: 0 0 5px rgb(196 195 195);
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
}

.icons-container .heading {
  font-size: 0.7rem;
  color: rgb(196, 195, 195);
}

.icons-text {
  margin-left: 0.5rem;
}

.icons-container span {
  font-size: 2.5rem;
  justify-content: center;
  align-self: center;
}

.icons-container .yields:nth-child(1) > span {
  color: orange;
}

.icons-container .yields:nth-child(1) > .icons-text .unit {
  color: orange;
}
.yields {
  display: flex;
  padding: 0.8rem;
  /* justify-content: center; */
}

.title h2 {
  font-family: playfair;
}

.ingredients {
  margin-bottom: 2rem;
}

.ingredients h3 {
  font-style: italic;
  font-weight: 300;
}

.steps {
  display: flex;
  margin-bottom: -0.8rem;
  /* margin: 20px; */
}

.steps p {
  margin-left: 1rem;
}

.steps input {
  margin-top: 1.3rem;
}

.number {
  font-family: playfair;
  background-color: orange;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
  height: fit-content;
  margin-top: 1.3rem;
  /* margin-right: 2rem; */
}

.source {
  margin-top: 4rem;
  color: rgb(196, 195, 195);
}

.footer {
  margin-top: 4rem;
  font-family: poppins;
  display: flex;
  color: rgb(0, 0, 0);
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 1.95em;
  top: 100%;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1.4em;
}

@media (max-width: 800px) {
  body {
    font-size: 10px;
  }
  .main-container {
    grid-template-areas:
      "title"
      "image-container"
      "icons-container"
      "content-container"
      "footer";
  }

  .icons-container {
    display: flex;
    box-shadow: none;
    flex-wrap: wrap;
  }
}
